:root {
    /* Index */
    --site-bg: #111;
    --secondary-bg: #191919;
    --standard-white: #fff;
    --standard-black: #000;
    --inactive-text: #999;

    /* Header / Footer */
    --header-bg: #0a0a0a;
    --nav-link-hover-bg: #1a1a1a;
    --nav-link-active-bg: #222222;
}
