/* Abstracted to standalone CSS file because elements 
are split between too many files (the modals). */
.footer-container {
    display: flex;
    flex-direction: var(--footer-flex-dir);
    align-items: center;
    width: 100%;
    padding: var(--footer-padding);
    background: var(--header-bg);
}

.footer-links-container {
    display: flex;
    flex-direction: var(--footer-flex-dir);
    align-items: center;
    gap: var(--footer-links-gap);
    color: var(--inactive-text);
}

.footer-links-container span {
    display: var(--footer-spacer-visibility);
}

.footer-link {
    cursor: pointer;
    font-weight: 800;
    font-size: var(--footer-link-size);
    color: var(--inactive-text);
    text-decoration: none;
    transition: var(--site-transition);
}

.footer-link:hover {
    color: var(--standard-white);
    scale: 1.05;
    text-shadow: var(--small-text-glow);
}

.twitch-link-container {
    display: flex;
    align-items: center;
    margin-top: var(--twitch-link-margin-top);
    margin-left: var(--twitch-link-margin-left);
    color: var(--standard-white);
    font-weight: 800;
    font-size: var(--footer-link-size);
}

.twitch-link-container {
    color: var(--inactive-text);
}

.twitch-logo {
    height: 1rem;
    margin: 0 0.25rem 0 0.5rem;
}
