html,
body,
#app {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #111111;
}

body,
button,
input,
select,
textarea {
    font-family: var(--site-font);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}
