:root {
    --site-font: 'Archivo Black', sans-serif;
    --site-transition-time: 0.25s;
    --site-transition: all var(--site-transition-time) ease;
    --site-text-shadow: 1px 1px 10px #ffffff65;
}
